{% extends 'base.html' %}
{% block title %}About Noir{% endblock %}
{% block content %}
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do... and did.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          👋 Hi there! I'm Denoir, a passionate Python developer with a burning curiosity for all things tech. My journey began in the bustling BPO industry, where I honed my customer service, sales, and technical support skills. But deep down, I knew my heart belonged to code.
        </p>
        <p>
          🌐 **From BPO to Bytes**: Transitioning from call centers to the world of programming was like stepping into a parallel universe. I traded phone queues for code editors, and it felt liberating. Python became my muse—a language that dances effortlessly between data science, web development, and automation. Whether I'm wrangling data or building web apps, Python is my trusty companion.
        </p>
        <p>
          🚀 **Aspiring Software Engineer**: My dream? To soar as a software engineer. I'm diving headfirst into algorithms, debugging, and software architecture. The thrill of solving complex problems keeps me awake at night (in a good way!). So, buckle up—I'm on a mission to turn ideas into elegant, functional software.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
